<div fxFlex fxLayout="column" fxLayoutGap="10px">
	<app-header></app-header>

	<body fxLayout="column">
		<div id="search" fxLayout="row" fxLayoutAlign="center center">
			<app-search-bar [fxFlex]="normalFlex" [fxFlex.lt-md]="ltMdFlex" [authors]="authorsCopy"
				[searchText]="searchText" (filterEvent)="filterQuotes($event)">
			</app-search-bar>
		</div>
		<div class="container" fxLayout="column wrap" fxLayoutAlign="space-around center">
			<div *ngIf="quotesCopy.length < 1 && !isFetching" data-test-id="no-quotes" id="noQuotes" fxLayout="column wrap"
				fxLayoutAlign="center center">
				<h1>No quotes found!</h1>
			</div>
			<app-quotes-grid *ngIf="quotesCopy.length >= 1 && !isFetching" [quotes]="quotesCopy"
				[searchText]="searchText"></app-quotes-grid>
			<div *ngIf="isFetching" id="loadingApp" fxLayout="column wrap" fxLayoutAlign="center center">
				<h1>Fetching Quotes...</h1>
				<mat-spinner [diameter]="300"></mat-spinner>
			</div>
		</div>
		<button data-test-id="addQuoteBtn" class="add-new-quote" mat-fab matTooltip="Add new quote" (click)="openDialog()"
			matTooltipClass="mat-tooltip" fxLayout="row" fxLayoutAlign="space-around center">
			<mat-icon>create</mat-icon>
		</button>
		<button data-test-id="backToTopBtn" class="back-to-top" *ngIf="isShow" (click)="gotoTop()" mat-fab matTooltip="Return to top"
			matTooltipClass="mat-tooltip" fxLayout="row" fxLayoutAlign="space-around center">
			<mat-icon>arrow_upward</mat-icon>
		</button>
	</body>
</div>