#search {
	position: sticky;
	top: 0;
	z-index: 100;
	background-color: inherit;
	color: #fff;
}

.back-to-top {
	position: fixed;
	background-color: #ffffff;
	bottom: 20px;
	right: 20px;
	color: #000000;
	outline: none;
	z-index: 10;
}
.back-to-top:hover {
	background-color: #f4f4f7;
	opacity: 1;
}

.back-to-top .mat-icon {
	opacity: 0.6;
}

.back-to-top .mat-icon:hover {
	opacity: 1;
}

::ng-deep .mat-tooltip {
	font-size: 15px;
}

.add-new-quote {
	position: fixed;
	background-color: #ffffff;
	bottom: 20px;
	left: 20px;
	color: #000000;
	outline: none;
	z-index: 10;
}

.add-new-quote:hover {
	background-color: #f4f4f7;
	opacity: 1;
}

.add-new-quote .mat-icon {
	opacity: 0.6;
}

.add-new-quote .mat-icon:hover {
	opacity: 1;
}

::ng-deep .mat-tooltip {
	font-size: 15px;
}

#loadingApp,
#noQuotes {
	margin-top: 50px;
}

h1 {
	font-size: 40px;
}

.mat-spinner {
	top: 60px;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
	stroke: #fff;
}
