/* You can add global styles to this file, and also import other style files */

/* html, body { min-height: 100%; } */
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #666;
	color: #fff;
}
/* body { margin: 0; font-family: 'Permanent Marker', cursive; } */
.dark-mode {
	background-color: #555555;
	color: white;
}
