.new-quote-modal {
	padding: none;
}

::ng-deep .mat-dialog-container {
	background-color: #ffc;
}

.add-quote-button {
	background-color: #666;
	color: #fff;
}

textarea {
	text-align: center;
	resize: none;
	font-size: 30px;
	font-weight: 400;
}

::ng-deep mat-option {
	background-color: #ffc;
}

.author-field {
	padding: 0;
	text-align: center;
	font-size: 20px;
	font-weight: 100;
	font-style: italic;
}

.quote-added {
	background-color: #feffec;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
	color: #feffec;
}

::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
	color: #feffec;
}
